<style>
 
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-evenly;
        align-items: baseline;
        margin-top: 8rem;
        border-top: 1px solid #584E45;
        padding: 4rem;
        font-family: "EB Garamond", "Garamond", serif;
        width: 100%;
        overflow: hidden;
        background-color: #f6f5f0;


    }
    .footer-col {
        display: flex;
        flex-direction: column;

        font-size: 1.5rem;
        gap: 0.4rem;
    }
    .footer-col h3 {
        margin-bottom: 0;
    }

</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>



    <div class="footer-wrapper">
      <div class="footer-col footer-col-1">
        <h3>Projects</h3>
        <a href="{{ '/projects/found-object' | relative_url }}">Found Object Mobile App</a>
        <a href="{{ '/projects/tokyofish/' | relative_url }}">Tokyo Fish Market Redesign</a>
        <a href="{{ '/projects/pocketbook' | relative_url }}">The Pocketbook Website</a>
        <a href="{{ '/projects/literature-posters' | relative_url }}">Literature Poster Series</a>
       
        <br>
        


      </div>

      <div class="footer-col footer-col-2">
        <div class="contact-list">
            <h3>Contact</h3>
            <p><a class="u-email" href="mailto:asatolim2@gmail.com">asatolim2@gmail.com</a></p>
          </div>
        <div class="tag-line" style="text-align: center; margin-top: 1rem; font-style: italic;">Handcrafted with care, &copy; {{ site.time | date: '%Y' }} </div>

          
      </div>


    </div>
    


  </div>

</footer>
