<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | Portfolio</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="sticky-nav">
      <a class="nav-item" href="{{ '/' | relative_url }}">HOME</a>
      <a class="nav-item" href="{{ '/#case-studies' |relative_url }}">PROJECTS</a>
      <a class="nav-subitem" href="{{  '/#case-studies' | relative_url }}">1.</a>
      <a class="nav-subitem" href="{{ '/#two' | relative_url}}">2.</a>
      <a class="nav-subitem" href="{{ '/#three' | relative_url}}">3.</a>
      <a class="nav-subitem" href="{{ '/#four' | relative_url}}">4.</a>


      <a class="nav-item" href="{{ '/#philosophy' | relative_url}}">PHILOSOPHY</a>
      <a class="nav-item" href="{{ '/#contact' | relative_url}}">CONTACT</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    
  </footer>
</body>
</html>
